.market {
  height: 620px;
  min-height: 620px;
  width: 100%;

  background-color: $black;

  &__card-holder {
    padding-top: 20px;

    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__card {
    height: 580px;
    width: 500px;
  }

  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
